extends bootstrap.pug

block styles
    link(rel='stylesheet', href='/stylesheets/socialMediaStyle.css')


block body

    div.container-fluid
        div.row
            div#add1.ad.col-sm-6
                div.placeHolder100 Add1
            div#add2.ad.col-sm-6
                div.placeHolder100 Add2
        br
        div#navigation.row
            div.col-sm-4
                form(action="/doSearch", method="post")
                    input#search(type="text", style={width:"60%"}, name="pattern")
                    button.btn.btn-success(type="submit", style={width:"40%"}) Search
            div.btn-group.col-sm-8.col-xs-12
                a.btn.btn-primary.navButton(style={width:"18%"}, href="/home") home
                a.btn.btn-primary.navButton(style={width:"35%"}, href="/viewMessages") messages
                    span#messageCount.badge=messageCount
                button.btn.btn-primary.navButton(style={width:"27%"}) premium
                a.btn.btn-primary.navButton(style={width:"20%"},href="/doSignOut") Sign Out     
        br

        block content
