extends basePage.pug

block content
    div#postItemRow.row
        button#addContent.btn.btn-primary(data-toggle="collapse", data-target="#postItem", style={margin:"auto", display:"block"}) New Post
        div#postItem.collapse(style={"margin-left":"10%", "margin-right":"10%"})
            div.form-group
                label(for="postContainer") Post:
                textarea.form-control(id="postContainer", name="post", rows="5")
            button#submitPost.btn.btn-primary.centered() Submit

    br
    div#followedPosts

    script.
        require(['setupPostSystem'],function(setupPostSystem){
            setupPostSystem(!{latestPosts});
        })