extends layout

block content

  div.topAdd

  ol.navGroup
    li.navItem 
      input.navSearch(type="text")
    li.navItem
      button.navButton item1
    li.navItem
      button.navButton item1
  
  div.contentContainer
    div.contentItem(style={height: "100px"})
    div.contentItem(style={height: "200px"})
    div.contentItem(style={height: "150px"})
    div.contentItem(style={height: "150px"})

  div.sideAdd