<!DOCTYPE html>
<html>
<head>
  <!--set the testFile that should be run-->
  <script>
        var testFile = 'spec/view/specs/displayPostsUnit.js';
  </script>

  <!--boilerplate code-->
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v2.6.1</title>
  <base href = "../../.."></base>
  <link rel="shortcut icon" type="image/png" href="spec/tools/lib/jasmine-2.6.1/jasmine_favicon.png">
  <link rel="stylesheet" href="spec/tools/lib/jasmine-2.6.1/jasmine.css">
  <script src='spec/requirejsConfig.js'></script>
  <script type="text/javascript" src="spec/tools/utils/require.js" data-main='runTest'></script>
</head>

<body>
</body>
</html>
